.Home {
    html,
    body {
        margin: 0;
        padding: 0;
    }

    max-width: 414px;
    margin: 0 auto;
    overflow: hidden;
}
.top-main {
    max-width: 760px;
    margin: 50px auto;
    text-align: center;
}
.tag-item {
    border-radius: 10px !important;
    margin: 0 20px;
    &:first-child {
        border-left: none;
    }
    &:before {
        width:0 !important;
    }

   border-color: transparent;
}

.ant-radio-button-wrapper-checked {
    border-left: 1px solid #1890ff !important;
}

.tag-main {
    margin-top: 15px;
}

.search {
 height: 150px;
}

.mark-detail {
    dl {
        display: flex;
        dt {
            color: #353535;
            font-size: 14px;
        }
    }
}

.prod-info {
    background-color: rgba(242, 242, 242, 1);
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }